
.body {
	margin: auto;
    padding: auto;
    background-color: #FAFAFA;
    font-family: Arial;
    font-size:15px;

}


.page {
   background: white;
  width: 21cm;
  height: 29.7cm;
  margin:0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding-top: 
  line-height:50%;

}

.header {
	background:rgb(239, 127, 27);
	margin-left:10px;
	margin-right: 10px ;
	margin-top:10px;
	padding-bottom:auto;

}


br {
   line-height: 1%;

}


img {
	display:grid;
	position: static;
	margin-left:10px;
	position: block;

} 

.text {
	float:center;
	margin:20px;

}

.ievade {
   width:100%;
   padding:6px 10px;
   margin: 4px 0;
   display: inline-block;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;

 }

 .checkbox {
 	width: 10%;
 	border-left: 1px solid #ccc;
 	border-right: 1px solid #ccc;
 	margin:4px;
 	padding:6px 10px;
   
 }





